*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;   
    font-family:    "Helvetica Neue",Helvetica,Arial,sans-serif;    
}
#container{
    position: relative;
}
#title{
    margin: 10px 50px 10px 50px;
    width: 90%;
    height: 95%;
    position: absolute;
    border: 2px solid red;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(66, 65, 65, 0.658)
}
#description{
    border: 2px solid red;
    height: 100px;
    text-align: center;
    padding-top: 15px;

}
#survey-form{
    border: 2px solid red;
    width: 300px;
    padding: 20px;
}
.box{
    margin: 20px;
}
